<!-- Index page for the RESTful blog app -->

<%- include("partials/header.ejs") %>

<h1>THIS IS THE INDEX PAGE</h1>
<% blogs.forEach(blog => { %>
<div class="blog-element">
    <h3>  <%= blog.title  %> </h3>
    <div> Date Created: <%= blog.created %> </div>
    <div> <img src=" <%= blog.image %> " alt="" style="height: 200px;"> </div>
    <p>
        <!-- Truncate the blog post body to the forst 100 xters -->
        <%= blog.body.substring(0,100) %>...
    </p>
    <div>
        <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
    <div>
        <hr>
    </div>
</div>
<% }) %>

<%- include("partials/footer.ejs") %>
