<%- include("partials/header") %> 

<h1> This is the show template</h1>

<p>Description: </p>

<p><%= showCampground.name %> </p>
<img src="<%= showCampground.image  %> " alt="image of the <%= showCampground.name %> ">
<p><%= showCampground.description %> </p>

<h4>Comments</h4>

<% showCampground.comments.forEach(comment => { %>
    <p>
        <strong><%= comment.author %></strong>:
        <br>
        <%= comment.content %>
    </p>
    <hr>
 
<% }) %>

<%- include("partials/footer") %> 
